.header{
  background-color: #7DBCBE;
  height: 10vh;
  margin: auto;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
.myLink{
  color: 'blue';
  margin: 5px;
  text-decoration: none;
  color: #041555;
  font-size: large;
  font-weight: bolder;
  justify-self: center;
  }

